# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex



# PROJECT-SPECIFIC CUSTOM IGNORES
data_prep/data/*
data_prep/exp/*
data_prep/feats/*
data_prep/feats_3/*
data_prep/feats_10/*
data_prep/feats_30/*
data_prep/feats_3_10/*
data_prep/feats_nodither/*
data_prep/feats_3_nodither/*
data_prep/feats_10_nodither/*
data_prep/feats_30_nodither/*
data_prep/feats_all/*
data_prep/feats_3_all/*
data_prep/feats_10_all/*
data_prep/feats_30_all/*
data_prep/wav_feats/*
models/*
old/models/*
.nfs*
*.wav
